@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Inter:wght@400;500&display=swap');

.explore-tribes-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  min-height: 100vh;
}

.explore-tribes-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #444;
  margin: 0 0 1.5rem;
}

.tribes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
}

.tribe-card {
  display: flex;
  flex-direction: column;
  background-color: #f9faff;
  padding: 1rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  align-items: center;
  height: 300px;
  width: 400px;
}

.tribe-card:hover {
  background-color: #e0eeff;
}

.tribe-card-icon {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 0.75rem;
  
}

.tribe-card-content {
  flex: 1;
}

.tribe-card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #444;
  margin: 0.7rem 0 0.7rem;
  text-align: center;
}

.tribe-card-description {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  color: #777;
  margin-top: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .explore-tribes-container {
    padding: 1rem;
  }

  .tribes-grid {
    grid-template-columns: 1fr;
  }
}