@media (max-width: 600px) {
  body, html {
    overflow-x: hidden;
    width: 100vw;
  }
  main, .container, .main {
    padding: 0.5rem !important;
    width: 100vw !important;
    
  }
}

@media (max-width: 340px) {
  body, html {
    overflow-x: hidden;
    width: 100vw;
  }
  main, .container, .main {
    padding: 0.1rem !important;
    width: 100vw !important;
    
  }
} 